<section class="about-collection">
  <div class="container-fluid">
    <div class="about-collection__items">
      <div class="about-collection__item">
        <img class="about-collection__img" src="img/collection-1.jpg" alt="about-collection image">
        <div class="about-collection__item-content">
          <h3 class="about-collection__item-title">
            Truffaut literally trust
          </h3>
          <p class="about-collection__item-descr">
            Living room furntiture | Chair
          </p>
        </div>
      </div>
      <div class="about-collection__item">
        <img class="about-collection__img" src="img/collection-5.jpg" alt="about-collection image">
        <div class="about-collection__item-content">
          <h3 class="about-collection__item-title">
            Truffaut literally trust
          </h3>
          <p class="about-collection__item-descr">
            Living room furntiture | Chair
          </p>
        </div>
      </div>
      <div class="about-collection__item">
        <img class="about-collection__img" src="img/collection-3.jpg" alt="about-collection image">
        <div class="about-collection__item-content">
          <h3 class="about-collection__item-title">
            Truffaut literally trust
          </h3>
          <p class="about-collection__item-descr">
            Living room furntiture | Chair
          </p>
        </div>
      </div>
      <div class="about-collection__item">
        <img class="about-collection__img" src="img/collection-4.jpg" alt="about-collection image">
        <div class="about-collection__item-content">
          <h3 class="about-collection__item-title">
            Truffaut literally trust
          </h3>
          <p class="about-collection__item-descr">
            Living room furntiture | Chair
          </p>
        </div>
      </div>
      <div class="about-collection__item">
        <img class="about-collection__img" src="img/collection-5.jpg" alt="about-collection image">
        <div class="about-collection__item-content">
          <h3 class="about-collection__item-title">
            Truffaut literally trust
          </h3>
          <p class="about-collection__item-descr">
            Living room furntiture | Chair
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
