<section class="achievements">
  <div class="container-fluid">
    <div class="achievements__inner">
      <img class="achievements__img" src="img/achievements-img.png" alt="">
      <div class="achievements__content">
        <div class="achievements__title title">
          Our Inspiration in details
        </div>
        <div class="achievements__descr text">
          Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth helvetica jean shorts. Fanny pack
          church-key cornhole, banh mi thundercats gochujang keytar.
        </div>
        <ul class="achievements__list list-reset">
          <li class="achievements__item">
            <div class="achievements__item-content">
              <p class="achievements__text">
                Design and technical drawings
              </p>
              <p class="achievements__num">80%</p>
            </div>
            <div class="achievements__line" style="width: 80%;"></div>
          </li>
          <li class="achievements__item">
            <div class="achievements__item-content">
              <p class="achievements__text">
                Measurments
              </p>
              <p class="achievements__num">70%</p>
            </div>
            <div class="achievements__line" style="width: 70%;"></div>
          </li>
          <li class="achievements__item">
            <div class="achievements__item-content">
              <p class="achievements__text">
                Furniture functionality analysis
              </p>
              <p class="achievements__num">75%</p>
            </div>
            <div class="achievements__line" style="width: 75%;"></div>
          </li>
          <li class="achievements__item">
            <div class="achievements__item-content">
              <p class="achievements__text">
                Interior visualization
              </p>
              <p class="achievements__num">40%</p>
            </div>
            <div class="achievements__line" style="width: 40%;"></div>
          </li>
        </ul>
    </div>
    </div>
  </div>
</section>
