<section class="blog-single">
  <div class="container">
    <div class="blog-single__inner">
      <div class="blog-single__content">
        <article class="blog-single__article">
          <img class="blog-single__img" src="img/blog-img.jpg" alt="">
          <div class="blog-article__meta blog-meta">
            <time class="blog-meta__item" datetime="2020-09-28 19:00">August 15, 2020</time>
            <a class="blog-meta__item" href="#">by Finnagan Morningstar</a>
            <span class="blog-meta__item" href="#">Dining room interior</span>
          </div>
          <div class="blog-single__article-content">
            <a href="#" class="blog-single__title">Red selfies edison bulb four dollar toast design humblebrag for the
              furniture</a>
            <p class="blog-single__text">
              Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally
              williamsburg tote bag
              farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo
              santo godard
              thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table.
            </p>
            <p class="blog-single__text">
              Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray
              stumptown 8-bit
              mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO
              lomo bushwick
              coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg austin edison bulb cloud
              bread vegan street
              art. Locavore food truck trust fund palo santo asymmetrical, franzen deep v marfa kogi whatever swag
              pop-up seitan.
            </p>
            <blockquote class="blog-single__blockquote">
              <p class="quote__text">
                “Simplicity is not the goal. It is the by-product of a good idea and modest expectations”
              </p>
              <div class="quote__author">
                Paul Rand
              </div>
            </blockquote>
            <p class="blog-single__text">
              Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book
              yuccie woke. Ugh
              pok pok taxidermy pabst enamel pin edison bulb farm-to-table.
              Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray
              stumptown 8-bit
              mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO
              lomo bushwick
              coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg austin edison bulb cloud
              bread vegan street
              art. Locavore food truck trust fund palo santo asymmetrical, franzen deep v marfa kogi whatever swag
              pop-up seitan.
            </p>
          </div>
        </article>
        <div class="blog-single__tags">
          <h3 class="blog-single__tags-title">
            Tags
          </h3>
          <ul class="aside-tags__list list-reset">
            <li class="blog-single__tags-item">
              <a href="#" class="aside-tags__link">
                Bedroom furniture
              </a>
            </li>
            <li class="blog-single__tags-item">
              <a href="#" class="aside-tags__link">
                Office furniture
              </a>
            </li>
            <li class="blog-single__tags-item">
              <a href="#" class="aside-tags__link">
                Dining room futniture
              </a>
            </li>
            <li class="blog-single__tags-item">
              <a href="#" class="aside-tags__link">
                Chair
              </a>
            </li>
          </ul>
        </div>
        <div class="blog-single__slider">
          <button class="btn btn-reset blog-single__btn blog-single__btn-left">
            <svg class="">
              <use xlink:href="img/sprite.svg#blog-left"></use>
            </svg>
          </button>
          <button class="btn btn-reset blog-single__btn blog-single__btn-right">
            <svg class="">
              <use xlink:href="img/sprite.svg#blog-right"></use>
            </svg>
          </button>
          <div class="blog-single__slider-items">
            <div class="blog-single__slider-item">
              <p class="blog-single__item-left">Cred selfies edison bulb four dollar toast humblebrag</p>
              <p class="blog-single__item-right">Semiotics fixie four dollar toast, next level</p>
            </div>
          </div>
        </div>
        <div class="comments">
          <h4 class="comments__title">
            Comments:
            </h3>
            <div class="comments__user user">
              <img class="user__img" src="img/user-img.jpg" alt="">
              <div class="user__content">
                <div class="user__name">Lea Brown</div>
                <div class="user__date">August 12, 2020</div>
                <p class="user__text">Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony
                  intelligentsia YOLO lomo bushwick coloring
                  book. Semiotics man bun venmo viral cliche</p>
              </div>
              <button class="btn btn-reset user__btn">Reply</button>
            </div>
        </div>
        <div class="post">
          <h4 class="post__title">
            Post a Comment
          </h4>
          <form action="#" class="post-form">
            <label class="form-field post-form__label">
              <textarea type="text" name="comment" class=" post-form__input post-form__input--big "
                placeholder="Your comment"></textarea>
            </label>
            <label class="form-field post-form__label">
              <input type="text" name="name" class=" post-form__input" placeholder="Your name">
            </label>
            <label class="form-field post-form__label">
              <input type="mail" name="email" class=" post-form__input" placeholder="Your e-mail">
            </label>
            <label class="post-form__checkbox">
              <input type="checkbox" class="post-form__checkbox-field">
              <span class="post-form__checkbox-content">Remember me</span>
            </label>
            <button class="btn-reset post-form__btn">Submit</button>
          </form>
        </div>
      </div>
      <aside class="aside">
        <form action="#" class="aside-form">
          <input type="text" name="Search" class="input-reset aside-form__input" placeholder="Search">
          <button class="btn-reset aside-form__btn" type="submit">
            <svg class="">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </button>
        </form>
        <div class="aside-categories">
          <h4 class="aside-categories__title aside-title">
            Categories
          </h4>
          <ul class="aside-categories__list list-reset">
            <li class="aside-categories__item">
              <a href="#" class="aside-categories__link">
                Dining room (1)
              </a>
            </li>
            <li class="aside-categories__item">
              <a href="#" class="aside-categories__link">
                Office furniture (12)
              </a>
            </li>
            <li class="aside-categories__item">
              <a href="#" class="aside-categories__link">
                Simple interiror design (2)
              </a>
            </li>
            <li class="aside-categories__item">
              <a href="#" class="aside-categories__link">
                Design (4)
              </a>
            </li>
            <li class="aside-categories__item">
              <a href="#" class="aside-categories__link">
                Bedroom Furniture (1)
              </a>
            </li>
          </ul>
        </div>
        <div class="aside-posts">
          <h4 class="aside-posts__title aside-title">
            Recent Posts
          </h4>
          <ul class="aside-posts__list list-reset">
            <li class="aside-posts__item">
              <a class="aside-posts__item-title" href="#">
                Cred selfies edison bulb four dollar toast humblebrag
              </a>
              <div class="blog-single-article__meta blog-single-meta aside-posts__meta">
                <time class="blog-single-meta__item" datetime="2020-09-28 19:00">August 10, 2020</time>
                <a class="blog-single-meta__item" href="#">by Finnagan Morningstar</a>
              </div>
            </li>
            <li class="aside-posts__item">
              <a class="aside-posts__item-title" href="#">
                Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth
              </a>
              <div class="blog-single-article__meta aside-posts__meta blog-single-meta">
                <time class="blog-single-meta__item" datetime="2020-09-28 19:00">September 28,2020</time>
                <a class="blog-single-meta__item" href="#">by Finnagan Morningstar</a>
              </div>
            </li>
            <li class="aside-posts__item">
              <a class="aside-posts__item-title" href="#">
                Cred selfies edison bulb four dollar toast humblebrag
              </a>
              <div class="blog-single-article__meta blog-single-meta aside-posts__meta">
                <time class="blog-single-meta__item" datetime="2020-09-28 19:00">May 2, 2020</time>
                <a class="blog-single-meta__item" href="#">by Finnagan Morningstar</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="aside-tags">
          <h4 class="aside-tags__title aside-title">
            Tags
          </h4>
          <ul class="aside-tags__list list-reset">
            <li class="aside-tags__item">
              <a href="#" class="aside-tags__link">
                Dining room futniture
              </a>
            </li>
            <li class="aside-tags__item">
              <a href="#" class="aside-tags__link">
                Chair
              </a>
            </li>
            <li class="aside-tags__item">
              <a href="#" class="aside-tags__link">
                Table
              </a>
            </li>
            <li class="aside-tags__item">
              <a href="#" class="aside-tags__link">
                Bedroom
              </a>
            </li>
            <li class="aside-tags__item">
              <a href="#" class="aside-tags__link">
                Office Furniture
              </a>
            </li>
          </ul>
        </div>
        <ul class="aside-social social__list list-reset" title="">
          <li class="aside-social__item ">
            <a href="#" target="_blank" class="social__link social__link--fb" aria-label="">
              <img src="img/social/fb.png" alt="">
            </a>
          </li>
          <li class="aside-social__item">
            <a href="#" target="_blank" class="social__link social__link--inst" aria-label="">
              <img src="img/social/inst.png" alt="">
            </a>
          </li>
          <li class="aside-social__item">
            <a href="#" target="_blank" class="social__link social__link--pin" aria-label="">
              <img src="img/social/pin.png" alt="">
            </a>
          </li>
          <li class="aside-social__item">
            <a href="#" target="_blank" class="social__link social__link--wtp" aria-label="">
              <img src="img/social/wtp.png" alt="">
            </a>
          </li>
          <li class="aside-social__item">
            <a href="#" target="_blank" class="social__link social__link--tube" aria-label="">
              <img src="img/social/tube.png" alt="">
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</section>
