<section class="collection">
  <h2 class="collection__title title">Furniture new collection</h2>
  <div class="line collection__line"></div>
  <div class="collection__subtitle text">
    Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar
    austint
  </div>
  <div class="collection__items">
    <div class="collection__item">
      <img class="collection__img" src="img/collection-1.jpg" alt="Collection image">
      <div class="collection__item-content">
        <h3 class="collection__item-title">
          Truffaut literally trust
        </h3>
        <p class="collection__item-descr">
          Living room furntiture | Chair
        </p>
      </div>
    </div>
    <div class="collection__item">
      <img class="collection__img" src="img/collection-5.jpg" alt="Collection image">
      <div class="collection__item-content">
        <h3 class="collection__item-title">
          Truffaut literally trust
        </h3>
        <p class="collection__item-descr">
          Living room furntiture | Chair
        </p>
      </div>
    </div>
    <div class="collection__item">
      <img class="collection__img" src="img/collection-3.jpg" alt="Collection image">
      <div class="collection__item-content">
        <h3 class="collection__item-title">
          Truffaut literally trust
        </h3>
        <p class="collection__item-descr">
          Living room furntiture | Chair
        </p>
      </div>
    </div>
    <div class="collection__item">
      <img class="collection__img" src="img/collection-4.jpg" alt="Collection image">
      <div class="collection__item-content">
        <h3 class="collection__item-title">
          Truffaut literally trust
        </h3>
        <p class="collection__item-descr">
          Living room furntiture | Chair
        </p>
      </div>
    </div>
    <div class="collection__item">
      <img class="collection__img" src="img/collection-5.jpg" alt="Collection image">
      <div class="collection__item-content">
        <h3 class="collection__item-title">
          Truffaut literally trust
        </h3>
        <p class="collection__item-descr">
          Living room furntiture | Chair
        </p>
      </div>
    </div>
  </div>
</section>
