<section class="contacts">
  <div class="container">
    <h2 class="contacts__title title">
      Contact Us
    </h2>
    <div class="contacts__inner">
      <ul class="social social__list list-reset" title="">
        <li class="social__item ">
          <a href="#" target="_blank" class="social__link social__link--fb" aria-label="">
            <img src="img/social/fb.png" alt="">
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--inst" aria-label="">
            <img src="img/social/inst.png" alt="">
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--pin" aria-label="">
            <img src="img/social/pin.png" alt="">
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--wtp" aria-label="">
            <img src="img/social/wtp.png" alt="">
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--tube" aria-label="">
            <img src="img/social/tube.png" alt="">
          </a>
        </li>
      </ul>
      <p class="contacts__text text">
        Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee street art. Viral shaman
        mustache master cleanse, pour-over affogato poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland,
        echo park hammock
      </p>
      <p class="contacts__address">
        (415) 829-7934 <br>
        725 Green St <br>
        San Francisco, California(CA), 94133
      </p>
      <a class="contacts__mail" href="mailto:ouremailaddress@email.com">
        ouremailaddress@email.com
      </a>
      <form action="#" class="contacts-form">
        <label class="form-field contacts-form__label">
          <input type="text" name="name" class=" contacts-form__input" placeholder="Your name">
        </label>
        <label class="form-field contacts-form__label">
          <input type="mail" name="email" class=" contacts-form__input" placeholder="Your e-mail">
        </label>
        <la bel class="form-field contacts-form__label">
          <textarea type="text" name="message" class=" contacts-form__input contacts-form__input--big" placeholder="Your message"></textarea>
        </label>
        <button class="btn-reset contacts-form__btn">Send</button>
      </form>
    </div>
  </div>
</section>
