<section class="contacts-slider">
  <div class="container-fluid">
    <div class="contacts-slider__items">
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-1.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-2.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-3.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-4.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-5.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-1.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-2.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-3.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-4.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
      <a class="contacts-slider__item" href="#">
        <img class="contacts-slider__img" src="img/contacts-slider/contacts-5.jpg" alt="">
        <h3 class="contacts-slider__title">
          Truffaut literally trust
        </h3>
      </a>
    </div>
  </div>
</section>
