<footer class="footer">
  <div class="footer__wrapper">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__content">
          <div class="footer__title">Contact Us</div>
          <p class="footer__descr text">
            Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
          </p>
          <a class="footer__mail" href="mailto:ouremailaddress@email.com">
            ouremailaddress@email.com
          </a>
          <div class="footer-form__items">
            <label class="form-field footer-form__label">
              <input type="mail" name="email" class=" footer-form__input" placeholder="Subscribe by email">
            </label>
            <button class="btn-reset footer-form__btn">Send</button>
          </div>
        </div>
        <div class="footer__right">
          <nav class="footer-nav">
            <div class="footer-nav__col">
              <ul class="list-reset footer__list">
                <li class="footer-nav__item footer-nav__item--facebook">
                  <a class="footer-nav__link" href="#">
                    Facebook
                  </a>
                </li>
                <li class="footer-nav__item footer-nav__item--instagram">
                  <a class="footer-nav__link" href="#">
                    Instagram
                  </a>
                </li>
                <li class="footer-nav__item footer-nav__item--pinterest">
                  <a class="footer-nav__link" href="#">
                    Pinterest
                  </a>
                </li>
                <li class="footer-nav__item footer-nav__item--whatsapp">
                  <a class="footer-nav__link" href="#">
                    WhatsApp
                  </a>
                </li>
                <li class="footer-nav__item footer-nav__item--youtube">
                  <a class="footer-nav__link" href="#">
                    Youtube
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-nav__col">
              <ul class="list-reset footer-nav__list">
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">
                    Delivery
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">
                    FAQ
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">
                    Help
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">
                    More About Us
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    674 Gonzales Drive. Washington, PA 15301
  </div>
</footer>
