<section class="galery">
  <h2 class="galery__title visually-hidden">Galaery Images</h2>
  <div class="galery__container">
    <div class="galery__btns">
      <button class="btn-reset galery__btn" data-graph-path="">Bedroom furniture</button>
      <button class="btn-reset galery__btn galery__btn--active" data-graph-path="">Living room furniture</button>
      <button class="btn-reset galery__btn" data-graph-path="">Office furniture</button>
      <button class="btn-reset galery__btn" data-graph-path="">Dining room futniture</button>
      <button class="btn-reset galery__btn" data-graph-path="">Chair</button>
    </div>
    <div class="galery__items">
      <div class="galery__item galery__item--big">
        <img class="galery__image" src="img/galery/galery-1.jpg" alt="">
      </div>
      <div class="galery__item">
        <img class="galery__image" src="img/galery/galery-2.jpg" alt="">
      </div>
      <div class="galery__item">
        <img class="galery__image" src="img/galery/galery-3.jpg" alt="">
      </div>
      <div class="galery__item">
        <img class="galery__image" src="img/galery/galery-4.jpg" alt="">
      </div>
      <div class="galery__item">
        <img class="galery__image" src="img/galery/galery-5.jpg" alt="">
      </div>
    </div>
  </div>
</section>
