<section class="gallery">
  <h2 class="gallery__title visually-hidden">Gall ery Images</h2>
  <div class="gallery__container">
    <div class="gallery__btns">
      <button class="btn-reset gallery__btn" data-graph-path="">Bedroom furniture</button>
      <button class="btn-reset gallery__btn gallery__btn--active" data-graph-path="">Living room furniture</button>
      <button class="btn-reset gallery__btn" data-graph-path="">Office furniture</button>
      <button class="btn-reset gallery__btn" data-graph-path="">Dining room futniture</button>
      <button class="btn-reset gallery__btn" data-graph-path="">Chair</button>
    </div>
    <div class="gallery__items">
      <div class="gallery__item gallery__item--big">
        <img class="gallery__image" src="img/gallery/gallery-1.jpg" alt="">
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery/gallery-2.jpg" alt="">
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery/gallery-3.jpg" alt="">
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery/gallery-4.jpg" alt="">
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery/gallery-5.jpg" alt="">
      </div>

      <!-- <div class="gallery__item gallery__item--big">
        <img class="gallery__image" src="img/gallery/gallery-1.jpg" alt="">
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery/gallery-2.jpg" alt="">
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery/gallery-3.jpg" alt="">
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery/gallery-4.jpg" alt="">
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery/gallery-5.jpg" alt="">
      </div> -->
    </div>
    <div class="gallery__items gallery__items--reverse">

    </div>
  </div>
</section>
