<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <img src="img/hero-img.png" alt="">
    </div>
    <div class="hero__content">
      <h1 class="hero__title ">
        Furniture
        collection
      </h1>
      <div class="line hero__line"></div>
      <div class="hero__subtitle text">
        Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar
        austint
      </div>
    </div>
  </div>
</section>
