<section class="hero">
  <div class="container">
    <div class="swiper hero__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__inner">
            <div class="hero__img">
              <img src="img/hero-img.png" alt="">
            </div>
            <div class="hero__content">
              <h2 class="hero__title ">
                Furniture
                collection
              </h2>
              <p class="hero__subtitle text">
                Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical
                drinking
                vinegar
                austint
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
