<section class="how-it-works">
  <div class="container">
    <h2 class="how-it-works__title title">
      How it works
    </h2>
    <div class="how-it-works__items">
      <div class="how-it-works__items-top">
        <div class="how-it-works__item how-it-works__item--consultation ">
          <h3 class="how-it-works__item-title how-it-works__item-title--consultation">
            Designer Consultation
          </h3>
          <p class="how-it-works__item-text text">
            Kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun
            venmo viral cliche
          </p>
        </div>
        <div class="how-it-works__item how-it-works__item--production">
          <h3 class="how-it-works__item-title how-it-works__item-title--production">
            Production
          </h3>
          <p class="how-it-works__item-text text">
            Everyday carry actually neutra authentic kogi shabby chic
          </p>
        </div>
        <div class="how-it-works__item"></div>
      </div>
      <div class="how-it-works__items-line"></div>
      <div class="how-it-works__items-bottom">
        <div class="how-it-works__item how-it-works__item--measurements">
          <h3 class="how-it-works__item-title how-it-works__item-title--measurements">
            Measurements
          </h3>
          <p class="how-it-works__item-text text">
            Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
