<section class="inspiration">
  <div class="container">
    <h2 class="inspiration__title title">
      More inspiration ideas in our blog
    </h2>
    <ul class="list-reset inspiration__list">
      <li class="inspiration__item">
        <article class="blog-article">
          <img class="blog-article__img" src="img/inspiration-1.jpg" alt="article 1">
          <div class="blog-article__text">
            <div class="blog-article__meta blog-meta">
              <time class="blog-meta__item" datetime="2020-06-12 19:00">March 12, 2020</time>
              <a class="blog-meta__item" href="#">by Ann Summers</a>
              <span class="blog-meta__item" href="#">Inrerior</span>
            </div>
            <h3 class="blog-article__title">
              <a href="#" class="blog-article__link">Listicle actually selvage activated charcoal for the drinking vinegar</a>
            </h3>
          </div>
        </article>
      </li>
      <li class="inspiration__item">
        <article class="blog-article">
          <img class="blog-article__img" src="img/inspiration-2.jpg" alt="article 1">
          <div class="blog-article__text">
            <div class="blog-article__meta blog-meta">
              <time class="blog-meta__item" datetime="2020-09-28 19:00">September 28,2020</time>
              <a class="blog-meta__item" href="#">by Finnagan Morningstar</a>
              <span class="blog-meta__item" href="#">Dining room interior</span>
            </div>
            <h3 class="blog-article__title">
              <a href="#" class="blog-article__link">Red selfies edison bulb four dollar toast humblebrag</a>
            </h3>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
